<mat-drawer-container style="background-color: rgb(3, 6, 49);color:white;">
  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>explore</mat-icon>
    <span>Explore</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>notifications</mat-icon>
    <span>Notifications</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>bookmark</mat-icon>
    <span>Bookmark</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>more</mat-icon>
    <span>More</span>
  </button>
</mat-drawer-container>
<app-side></app-side>
