
<div class="wrapper">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite application" value="Tweeter">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave your email address"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave your phone number" ></textarea>
  </mat-form-field>
</form>
</div>
