<div class="parent">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Tweets">
      <div class="tweetsWrap">
        <div style="padding-left: 20px;">
          <img src="../../assets/imgs/pp.jpg" alt="" class="tweet-profile">
        </div>

        <div class="example-large-box mat-elevation-z4" style="width:640px !important">
          <div class="time">
            <div class="retweet">
              <p class="name">abbas aghajani ReTweeted</p>
              <div class="clock">
                <mat-icon>query_builder</mat-icon>
                <span>40 mins</span>
              </div>
            </div>

          </div>
          <div class="p-tweet">its me . mehdi/ doesn't matter how hard to learn coding may seem; just do your best to be a best one!'</div>


        </div>
      </div>
    </mat-tab>
    <mat-tab label=" Tweets&ReTweets">
      <div class="tweetsWrap">
        <div style="padding-left: 20px;">
          <img src="../../assets/imgs/pp.jpg" alt="" class="tweet-profile">
        </div>

        <div class="example-large-box mat-elevation-z4" style="width:640px !important">
          <div class="time">
            <div class="retweet">
              <p class="name">abbas aghajani ReTweeted</p>
              <div class="clock">
                <mat-icon>query_builder</mat-icon>
                <span>40 mins</span>
              </div>
            </div>

          </div>
          <div class="p-tweet">its me . mehdi/ doesn't matter how hard to learn coding may seem; just do your best to be a best one!'</div>


        </div>
      </div>
      <div class="tweetsWrap">
        <div style="padding-left: 20px;">
          <img src="../../assets/imgs/teach-34.jpg" alt="" class="tweet-profile">
        </div>

        <div class="example-large-box mat-elevation-z4" style="width:640px !important">
          <div class="time">
            <div class="retweet">
              <p class="name">mostafa hoseinkhani ReTweeted</p>
              <div class="clock">
                <mat-icon>query_builder</mat-icon>
                <span>2 hours ago</span>
              </div>
            </div>

          </div>
          <div class="p-tweet">its me . mehdi/ doesn't matter how hard to learn coding may seem; just do your best to be a best one!'</div>


        </div>
      </div>


    </mat-tab>
    <mat-tab label="Media">
      <div class="tweetsWrap">
        <div style="padding-left: 20px;">
          <img src="../../assets/imgs/teach-34.jpg" alt="" class="tweet-profile">
        </div>

        <div class="example-large-box mat-elevation-z4" style="width:640px !important">
          <div class="time">
            <div class="retweet">
              <p class="name">mostafa hoseinkhani ReTweeted</p>
              <div class="clock">
                <mat-icon>query_builder</mat-icon>
                <span>2 hours</span>
              </div>
            </div>

          </div>
          <div class="p-tweet">listen mehdi / will is everything . keep learning and never give up</div>


        </div>
      </div>
    </mat-tab>
    <mat-tab label=" Large content">
      <div class="tweetsWrap">
        <div style="padding-left: 20px;">
          <img src="../../assets/imgs/teach-34.jpg" alt="" class="tweet-profile">
        </div>

        <div class="example-large-box mat-elevation-z4" style="width:640px !important">
          <div class="time">
            <div class="retweet">
              <p class="name">mostafa hoseinkhani ReTweeted</p>
              <div class="clock">
                <mat-icon>query_builder</mat-icon>
                <span>2 hours</span>
              </div>
            </div>

          </div>
          <div class="p-tweet">listen mehdi / will is everything . keep learning and never give up</div>


        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
