<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="info-wrapper">
        <div>
          <img src="../assets/imgs/OIP.jfif" alt="" style="width: 20px;">
        </div>
        <div>
          <div>
            <a class="about-btn">About</a>
            <a class="help-btn">help</a>
          </div>
        </div>

      </div>


    </div>
    <div class="col-4">

<input type="text" placeholder="search something" class="searching">
    </div>
    <div class="col-4">
      <div class="profile-info">
<h5>Hi/mehdi</h5>
<img src="../../assets/imgs/shadmehr.jpg" alt="" class="profile-pic">
    </div>
  </div>
  </div>
</div>
<mat-drawer-container style="background-color: rgb(3, 6, 49);color:white;">
  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>explore</mat-icon>
    <span>Explore</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>notifications</mat-icon>
    <span>Notifications</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>bookmark</mat-icon>
    <span>Bookmark</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>more</mat-icon>
    <span>More</span>
  </button>
</mat-drawer-container>

