.img-profile{
  border-radius: 35px;
  width: 70px;
  margin-top:7px
}
.wrapper{
  text-align: center;
  background-color: white;
  border-radius:10px;
  position: relative;

}
.ista-id{
  color: gray;
}
.location{
  color: rgb(61, 60, 60);
}
.follow{
  display: flex;
  justify-content :space-around;
  padding-top:10px
}
