<div class="wrapper">

  <mat-icon style="color:rgb(26, 96, 161);position: absolute;left:20px;top:15px">check</mat-icon>
<img class="img-profile" src="../../assets/imgs/david.jpg" alt="">
<h4>
<b>mehdi aghajani</b>
</h4>
<h5 class="ista-id">@its-me-mehdi</h5>
<div style="padding:0 23px 5px 0;">
<mat-icon>room</mat-icon>
<span class="location">Tehran</span>
</div>
<p>I was born in tehran in 1998</p>
<div class="follow">
  <div><h6>Tweets</h6></div>
  <div><h6>Followers</h6></div>
  <div><h6>Following</h6></div>


</div>

</div>
